@{
    ViewData["Title"] = "Проекты";
}
@model IEnumerable<StaffAccounting.Models.Company.Rank>

<table class="table">
    <tr>
        <td>Имя</td>
        <td>Действия</td>
    </tr>
    @foreach (var project in Model)
    {
        <tr>
            <td>@project.Name</td>
            <td>
                <a asp-action="Details" asp-controller="Project" asp-route-id="@project.Id">Подробнее</a> |
            </td>
        </tr>
    }
</table>
