@using StaffAccounting.Models.Company
@model EmployeeCreationModel
@{
    ViewData["Title"] = "Добавление менеджера";
    Layout = "_CreateTemplate";
    IOrderedQueryable<Project> orderedProjects = 
        ((IQueryable<Project>)ViewBag.Company.Projects)
        .OrderBy(project => project.Name);
    IOrderedQueryable<Director> orderedDirectors = 
        ((IQueryable<Director>)ViewBag.Company.Directors)
        .OrderBy(director => director.LastName);
}

<div class="form-group">
    <label asp-for="DirectorId" class="control-label">Директор</label>
    <select id="DepartmentHeadId" asp-for="DirectorId" class="form-control">
        @foreach (Director director in orderedDirectors)
        {
            <option value=@director.Id>@director.FullName</option>
        }
    </select>
</div>
