@model string
@{
    ViewData["Title"] = "Добавление";
}

<form asp-action="SelectType" asp-controller="employee">
    <div class="form-group">
        <label class="form-label">Тип</label>
        <select class="form-control" name="employeeNotation">
            @foreach (string type in @ViewBag.EmployeeTypeNames)
            {
                <option>@type</option>
            }
        </select>
    </div>

    <div class="button-confirm">
        <input type="submit" value="Продолжить" class="btn btn-outline-primary" />
    </div>
</form>

