@using StaffAccounting.Models.Company
@model Rank

<form asp-action="Update" asp-controller="Rank" asp-route-id="@Model.Id">
    <div class="form-group">
        <label asp-for="Name" class="control-label">Название</label>
        <input type="text" asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="col-12">
        <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
    </div>
</form>