@using StaffAccounting.Models.Company
@model Accountant
@{
    IEnumerable<Director> orderedDirectors =
        ((IQueryable<Director>)((CompanyContext)ViewData["Company"]).Directors)
        .OrderBy(director => director.LastName).ToList();
}

<h2>Бухгалтер</h2>

<form asp-action="CreateAccountant" asp-controller="Employee" asp-route-id="@Model.Id">
    @await Html.PartialAsync("Create/Employee", Model)

    <div class="form-group">
        <label asp-for="DirectorId" class="control-label">Директор</label>
        <select id="DirectorId" asp-for="DirectorId" class="form-control">
            <option selected="selected" value=@null>Не выбрано</option>
            @foreach (Director director in orderedDirectors)
            {
                <option value=@director.Id>@director.FullName</option>
            }
        </select>
    </div>
    <div class="button-confirm">
        <input type="submit" value="Добавить" class="btn btn-outline-primary" />
    </div>
</form>