@using StaffAccounting.Models.Company
@model Director
<div class="create-form">

    <h2>Директор</h2>

    <form asp-action="CreateDirector" asp-controller="Employee" asp-route-id="@Model.Id">
        
        @await Html.PartialAsync("Create/Employee", Model)

        <div class="button-confirm">
            <input type="submit" value="Добавить" class="btn btn-outline-primary" />
        </div>
    </form>
</div>