@using StaffAccounting.Models.Company
@model Manager
@{
    IEnumerable<DepartmentHead> orderedHeads =
        ((IQueryable<DepartmentHead>)((CompanyContext)ViewData["Company"]).DepartmentHeads)
        .OrderBy(department => department.LastName);
    IEnumerable<Project> orderedProjects =
        ((IQueryable<Project>)((CompanyContext)ViewData["Company"]).Projects)
        .OrderBy(department => department.Name);
}

<h2>Менеджер</h2>

<form asp-action="CreateManager" asp-controller="Employee" asp-route-id="@Model.Id">
    @await Html.PartialAsync("Create/Employee", Model)

    <div class="form-group">
        <label asp-for="DepartmentHeadId" class="control-label">Глава департамента</label>
        <select id="DepartmentHeadId" asp-for="DepartmentHeadId" class="form-control">
            <option selected="selected" value=@null>Не выбрано</option>
            @foreach (DepartmentHead head in orderedHeads)
            {
                <option value=@head.Id>@head.FullName</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label asp-for="ProjectId" class="control-label">Проект</label>
        <select id="ProjectId" asp-for="ProjectId" class="form-control">
            <option selected="selected" value=@null>Не выбрано</option>
            @foreach (Project project in orderedProjects)
            {
                <option value=@project.Id>@project.Name</option>
            }
        </select>
    </div>
    <div class="button-confirm">
        <input type="submit" value="Добавить" class="btn btn-outline-primary" />
    </div>
</form>