@model StaffAccounting.Models.Company.Accountant

<h1>Бухгалтер</h1>

@await Html.PartialAsync("Details/Employee", Model)

<div>
    <dl class="dl-horizontal">
        <dt>Директор</dt>
        <dd>
            <a asp-action="Details" asp-controller="Employee" asp-route-id="@Model.DirectorId">
                @Model.Director?.FullName
            </a>
        </dd>
    </dl>

    <a asp-action="Edit" asp-controller="Employee" asp-route-id="@Model.Id" class="btn btn-outline-secondary btn-sm">Изменить</a>

    <form asp-action="Delete" asp-controller="Employee" asp-route-id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-outline-danger btn-sm" />
    </form>
</div>