@model StaffAccounting.Models.Company.Employee
@{
    ViewBag.Title = Model.FullName;
}

<h2>@Model.FullName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Дата рождения</dt>
        <dd>@Model.Birthday</dd>

        <dt>Пол</dt>
        <dd>@Model.Sex</dd>
    </dl>
</div>