@model StaffAccounting.Models.Company.Employee
@{
    ViewBag.Title = Model.FullName;
}

<h2>@Model.FullName</h2>
<div>
    <dl class="dl-horizontal">
        <dt>Возраст</dt>
        <dd>@Math.Floor((double)(Model.Birthday.Year - DateTime.Now.Year))</dd>

        <dt>Пол</dt>
        <dd>@Model.Sex</dd>
    </dl>
</div>