@using StaffAccounting.Models.Company
@model Accountant
@{
    IEnumerable<Director> orderedDirectors =
        ((IQueryable<Director>)((CompanyContext)ViewData["Company"]).Directors)
        .OrderBy(director => director.LastName).ToList();
}

<div class="create-form">
    <h2>Бухгалтер</h2>

    <form asp-action="EditAccountant" asp-controller="Employee" asp-route-id="@Model.Id">
        
        @await Html.PartialAsync("Edit/Employee", Model)

        <div class="form-group create-form__additional">
            <div class="form-group create-form__additional_item">
                <label asp-for="DirectorId" class="control-label">Директор</label>
                <select id="DirectorId" asp-for="DirectorId" class="form-control">
                    @if (Model.Director == null)
                    {
                        <option selected="selected" value=@null>Не выбрано</option>
                    }
                    else
                    {
                        <option selected="selected" value=@Model.DirectorId>@Model.Director?.FullName</option>
                        <option value=@null>Не выбрано</option>
                    }
                    @foreach (Director director in orderedDirectors)
                    {
                        if (director.Id != Model.DirectorId)
                        {
                            <option value=@director.Id>@director.FullName</option>
                        }
                    }
                </select>
            </div>
        </div>
        <div class="button-confirm">
            <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
        </div>
    </form>
</div>