@using StaffAccounting.Models.Company
@model Director

<h2>Директор</h2>

<form asp-action="EditDirector" asp-controller="Employee" asp-route-id="@Model.Id">
    @await Html.PartialAsync("Edit/Employee", Model)

    <div class="col-12">
        <input type="submit" value="Сохранить" class="btn btn-outline-primary" />
    </div>
</form>